table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

tr {
  padding: 5px;
}

td {
  width: 30px;
  height: 30px;
  text-align: center;
}

.coloredCell {
  background-color: black;
  color: white;
}


.centerOnPage {
  top:50%;
  left: 50%;
  transform: translate3d(-50%,-50%, 0);
  position: absolute;
}

.footer {
  bottom: 0;
  left: 0;
  padding: 10px 0 10px 0;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  width: 100vw;
}

.winner {
  background-color: rgba(0, 255, 0, 0.7) !important;
}

.footer > button{
  margin: 10px;
}
.footer > a > button{
  margin: 10px;
}

@media screen and (min-width: 561px){
  #timer {
    right: 100;
    bottom: 20;
    position: absolute;
  }

}
@media screen and (max-width: 560px){
  #timer {
    top: 0;
    position: fixed;
    padding: 10px 0 10px 0;
    background-color: rgba(0,0,0,0.5);
    width: 100vw;
    text-align: center;
  }
  .footer {
    text-align: center;
  }
}

.remove-icon {
  color: red;
}
